<meta charset="utf-8">
<title>FIIS - UNI</title>

<!-- Site favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="<%= pathBase %>vendor/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="<%= pathBase %>vendor/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="<%= pathBase %>vendor/images/favicon-16x16.png">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="<%= pathBase %>vendor/styles/core.css">
<link rel="stylesheet" type="text/css" href="<%= pathBase %>vendor/styles/icon-font.min.css">
<!--<link rel="stylesheet" type="text/css" href="<%= pathAssets  %>libraries/plugins/datatables/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="<%= pathAssets  %>libraries/plugins/datatables/css/responsive.bootstrap4.min.css">-->
<link rel="stylesheet" type="text/css" href="<%= pathBase %>vendor/styles/style.css">


